.land {
    &-nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 30;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
            background-color: #fff !important;
            -webkit-animation: fadeInDown 0.5s ease-in-out 0s 1 normal none running;
            -moz-animation: fadeInDown 0.5s ease-in-out 0s 1 normal none running;
            animation: fadeInDown 0.5s ease-in-out 0s 1 normal none running;

            -webkit-animation: headerSlideDown 0.5s ease forwards;
            animation: headerSlideDown 0.5s ease forwards;

            .land-nav {
                &__logo {
                    width: 7rem;

                    &--2 {
                        display: inline-block;
                    }

                    &--1 {
                        display: none;
                    }

                }

                &__content {
                    padding: 1rem 0;
                }

                &__ul {
                    a {
                        color: #000;

                        &.active,
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }

                &__menu {
                    .hamburger .line {
                        background-color: #232323;
                    }
                }



            }


        }



        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__logo {
            width: 10rem;

            @media only screen and (max-width: $bp-xsmall) {
                width: 15rem;
            }

            &--2 {
                display: none;
            }

            &--1 {
                display: inline-block;
            }
        }

        &__ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            transition: all 0.5s ease-in-out;

            @media only screen and (max-width: $bp-992) {
                order: 8;
                opacity: 0;
                visibility: hidden;
                flex-direction: column;
                display: flex;
                background: linear-gradient(158.16deg, #341A1D 5.28%, #520E0F 103.26%);
                position: fixed;
                top: 0rem;
                left: -100%;
                width: 100%;
                height: 100%;
                z-index: 999999;
                align-items: flex-start;
                padding: 4rem;


                li {
                    width: 60%;
                    padding: 3rem 0;


                    &:not(:last-child) {
                        border-bottom: 0.3px solid #FF9900;
                    }

                }

                .land-nav__menu {
                    position: absolute;
                    top: 9rem;
                    right: 5rem;
                }
            }

            a {
                font-size: 1.8rem;
                color: #fff;
                font-weight: 600;
                padding: 1rem 0;
                position: relative;
                transition: all 0.2s ease-in-out;

                &.active,
                &:hover {
                    color: $color-primary;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: $color-primary;
                        bottom: 0;
                        left: 0;
                        position: absolute;

                        @media only screen and (max-width: $bp-992) {
                            display: none;
                        }
                    }
                }

                @media only screen and (max-width: $bp-992) {
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 1.5;
                    /* identical to box height */

                    text-align: center;

                    color: #FFFFFF !important;
                }

            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__menu {
            width: 30px;
            // height: 1rem;
            position: relative;
            display: none;
            z-index: 2;
            // position: absolute;
            // top: 3rem;
            // left: 1rem;
            // right: 2.5rem;
            margin-top: 1rem;

            @media only screen and (max-width: $bp-992) {
                display: inline-block;
                // order: 3;
                margin-right: 3rem;
                margin-top: 0rem;
            }

            .hamburger {

                // overflow: hidden;
                // height: 1px;
                // background: #fff;
                .line {
                    content: "";
                    width: 20px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 10px;
                    display: block;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    margin: 05px auto;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            #hamburger-1,
            #hamburger-2 {
                &.active {
                    .line {
                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(1) {
                            -webkit-transform: translateY(6px) rotate(45deg);
                            -ms-transform: translateY(6px) rotate(45deg);
                            -o-transform: translateY(6px) rotate(45deg);
                            transform: translateY(6px) rotate(45deg);
                        }

                        &:nth-child(3) {
                            -webkit-transform: translateY(-9px) rotate(-45deg);
                            -ms-transform: translateY(-9px) rotate(-45deg);
                            -o-transform: translateY(-9px) rotate(-45deg);
                            transform: translateY(-9px) rotate(-45deg);
                        }
                    }
                }
            }

            #hamburger-2 {
                border: 1px solid #FF9900;


                .line {
                    background-color: #FF9900;
                }

            }
        }

        &.active {
            .land-nav {
                &__ul {
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;


                }
            }
        }
    }

    &-header {
        background-image: url(../img/home_banner.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        z-index: 1;
        padding: 20rem 0;

        @media only screen and (max-width: $bp-largest) {
            padding: 15rem 0;
        }

        @media only screen and (max-width: $bp-992) {
            padding: 24rem 0;
        }

        &::after {
            background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
            opacity: 0.75;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";


            // &-outer{
            //     margin: 2rem 0;

            // }
        }

        &--breadcrumb {
            background-position: top;
            padding: 0;

            .land-header {
                &__content {
                    padding: 14rem 0 10rem;

                }

                &__title {
                    font-size: 5rem;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 1;
            position: relative;
        }

        &__left {
            justify-content: center;

            @media only screen and (max-width: $bp-992) {
                margin-bottom: 4rem;
            }

        }

        &__title {
            font-size: 7rem;
            color: #fff;
            line-height: 1.25;
            font-weight: 500;
            max-width: 70%;
            // text-transform: uppercase;
            font-family: 'Libre Baskerville', serif;

            @media only screen and (max-width: $bp-largest) {
                font-size: 6rem;
            }

            @media only screen and (max-width: $bp-xsmall) {
                // font-size: 4rem;
                max-width: 100%;
            }
        }

        &__sub-title {
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 1.5;
            color: #fff;


            @media only screen and (max-width: $bp-largest) {
                font-size: 2.3rem;
            }

            @media only screen and (max-width: $bp-xsmall) {
                // font-size: 4rem;
                max-width: 100%;
            }

        }

        &__scroll {
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            &--1 {
                width: 2em;
                height: 2em;
                background-color: transparent;
                z-index: 80;
                bottom: 25px;
                position: absolute;
                border-width: 0 0.25em 0.25em 0;
                border-style: solid;
                border-color: antiquewhite;
                animation: scrolldown 1.2s ease-in-out infinite 0.15s;
                left: 50%;
                transform: translateY(0%) rotate(45deg);
                opacity: 0;
            }

            &--2 {
                width: 2em;
                height: 2em;
                background-color: transparent;
                z-index: 80;
                bottom: 40px;
                position: absolute;
                border-width: 0 0.25em 0.25em 0;
                border-style: solid;
                border-color: antiquewhite;
                animation: scrolldown 1.2s ease-in-out infinite;
                left: 50%;
                transform: translateY(0%) rotate(45deg);
                opacity: 0;
            }
        }
    }

    &-btn {
        background: $color-primary;

        &:hover {
            background: rgba($color-primary, 0.7);

        }

        &--transparent {
            background: transparent;
        }
    }


}


// animation
@keyframes scrolldown {
    0% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }

    50% {
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}




//////////////////////////////
/// services
.services {
    background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);

    &__title {
        text-decoration: underline;
    }


    &__page {
        padding: 8rem 0 20rem;
    }

    &__content {
        margin: 10rem 0 10rem;

        &-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: 2rem;
            align-items: flex-start;
            padding-right: 6rem;

            &--right {
                padding-right: 0;
                padding-left: 6rem;


            }

            @media only screen and (max-width: $bp-992) {
                padding: 0;
            }
        }

        &-img {
            height: 100%;

            img {
                height: 100%;
            }
        }
    }

    &__para {
        color: #fff;
    }
}


/////////////////////////
/// gallery
/// 
.gallery {

    &__page {
        padding: 8rem 0 20rem;

    }

    &__img {
        padding: 1rem;
    }

    &-content {
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0px;
        -moz-column-count: 3;
        -moz-column-gap: 0px;
        column-count: 4;
        column-gap: 0px;

        img {
            width: 100% !important;
            height: auto !important;

            &:hover {
                opacity: .7;
            }
        }

        @media only screen and (max-width: $bp-largest) {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;

        }

        @media (max-width: 1000px) {

            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;

        }

        @media (max-width: 800px) {

            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;

        }

        @media (max-width: 400px) {

            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;

        }
    }
}

/*=====================================================*/
/*                     tabs                          */
/*=====================================================*/

#tabs {

    .tab-pane {
        margin-top: 1rem;
        padding: 1.5rem;
        height: auto;
    }

    .nav-tabs {
        position: relative;
        border: none;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;
        width: 40%;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px) {
            width: 82%;
        }

        @media only screen and (max-width: $bp-xsmall) {
            padding: 0rem 0rem;
            width: 100%;
        }

        margin: auto;
        margin-bottom: 4rem;

        & .nav-item {
            & .nav-link {
                margin-right: 0px;
                padding: 1rem 1rem;
                font-size: 2rem;
                border: none;
                color: #131313;
                font-weight: 400;
                white-space: nowrap;

                &:hover {
                    // background-color: $color-primary;
                    border: none;
                    color: $color-primary;
                    background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                &.active {
                    // background-color: ;
                    border: none;
                    color: $color-primary;
                    font-weight: 700;
                    font-size: 2.1rem;

                    background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
    }

    .bottom-slider {
        display: block;
        height: 4px;
        border-radius: 3px;
        background-color: rgba(#dcdcdc, 0.55);
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 15;
        margin: 0;
        padding: 0;
        width: 91.5%;

        @media only screen and (max-width: $bp-992) {
            left: 6%;
            width: 87.4%;
        }

        @media only screen and (max-width: $bp-xsmall) {
            left: 0;
            width: 100%;
        }
    }

    .slider {
        display: inline-block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: $color-primary;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        transition: all 0.4s linear;

        background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-fill-color: transparent;
    }
}


/////////////////////////////////////
/// contact
.contact {
    padding: 8rem 0 20rem;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-input {
            width: 100%;
            padding: 0.5rem 2rem;
            font-size: 1.6rem;
            background: transparent;
            border: 1px solid #E0E0E0;

            &::placeholder {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 175%;
            }
        }
    }

    &__map {
        height: 100%;
        padding: 0 3rem;

        @media only screen and (max-width: $bp-992) {
            padding: 0;
            margin-top: 3rem;
        }

        iframe {
            width: 100%;
            height: 100%;

            @media only screen and (max-width: $bp-992) {
                padding: 0;
                min-height: 40vh;
            }
        }
    }
}

//////////
/// cta
.cta {
    background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
    border: 0.756144px solid rgba(220, 202, 135, 0.2);
    box-shadow: 16.6352px 22.6843px 71.8336px 0.756144px rgba(0, 0, 0, 0.1);

    &--2 {
        background: url(../img/cta-2.png);
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#fff, 0.5);


            @media only screen and (max-width: $bp-xsmall) {
                background: rgba(#fff, 0.75);
            }
        }

        .cta__title {
            color: #131313;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 4.0rem;
        line-height: 1.5;
        letter-spacing: 4px;
        color: #FFFFFF;
        text-align: center;

        @media only screen and (max-width: $bp-xsmall) {
            font-weight: 600;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        position: relative;
        z-index: 1;
    }
}

////////////////////////
/// testimonial

.testimonial {

    &--1 {
        @media only screen and (max-width: $bp-xsmall) {
            display: none;
        }
    }

    &--2 {
        display: none;

        @media only screen and (max-width: $bp-xsmall) {
            display: block;
        }
    }

    &__content {
        margin-top: 4rem;
    }

    &__img {
        height: 100%;
        padding: 1rem;

        @media only screen and (max-width: $bp-xsmall) {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50%;
            }
        }
    }

    &__details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3rem;


        @media only screen and (max-width: $bp-xsmall) {
            align-items: center;
            text-align: center;
        }
    }

    &__name {
        color: $color-primary;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 1;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        text-transform: capitalize;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

/////////////////////////////
/// mission
.mission {
    padding-top: 4rem;

    &__content {
        padding: 4rem;
        padding-left: 15rem;
    }

    &__animation {
        margin: 4rem 0;
        position: relative;
        overflow: hidden;
        display: flex;
        gap: 3rem;
        justify-content: center;

        &:hover {
            .mission__animation-text {
                &--visible {
                    transform: translateY(-100%);
                }

                &--invisible {
                    top: 0%;
                }
            }
        }


        &-text {
            font-weight: 700;
            font-size: 18rem;
            line-height: 1;
            color: #FFFFFF;
            transition: all .2s;

            &--visible {
                animation: textAnimation2 5s infinite;

            }

            &--invisible {
                position: absolute;
                padding: 2rem 0;
                left: 13%;
                top: 100%;
                animation: textAnimation 5s infinite;
            }


        }

        &-sub-text {
            font-weight: 400;
            font-size: 80px;
            line-height: 90px;

            color: #FFFFFF;
        }
    }
}

@keyframes textAnimation {
    0% {
        top: 100%;
    }

    25% {
        top: -10%;
    }

    50% {
        top: -100%;
    }

    75% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes textAnimation2 {
    0% {
        transform: translateY(-10%);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-10%);
    }
}

/////////////////////////////////////
/// blog

.blog {
    padding-bottom: 20rem;

    &__single-items {
        height: 100%;
        border-right: 0.5px solid #000000;
        padding: 2rem;
        // border: 0.5px solid #000000;

    }

    &__row {
        .col-md-4:nth-child(3n) {
            .blog__single-items {
                border: none;
            }
        }
    }

    &__name {
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 1;
        margin-top: 1.5rem;
    }

    &__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.3;
        margin: 1rem 0;
    }

    &__link {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        /* identical to box height, or 36px */

        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #010001;
        margin-top: 1.5rem;
    }
}