.heading {

    &__primary {
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0px;
        margin-bottom: 2rem;
        line-height: 1;

        background: linear-gradient(158.16deg, #FF0D24 5.28%, #CF3034 103.26%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &--white {
            background: none;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: #fff;
            background-clip: text;
            text-fill-color: transparent;
        }

    }

    &__sub-title {
        font-size: 1.7rem;
        font-weight: 500;
        color: $color-secondary;
    }
}

.typography {
    position: relative;
    text-align: end;
    align-items: flex-end;



    &__hr {
        height: 2px;
        position: absolute;
        width: 87%;
        background: $color-primary;

    }

    &--2 {
        align-items: flex-start;

        img {
            left: 0;
            bottom: -10rem;
        }

        .typography__hr {
            bottom: -2rem;
            left: 14rem;

        }

        .heading__primary {
            padding-left: 15rem;
        }
    }

    img {
        position: absolute;
        width: 15rem;
        z-index: 3;
    }

    &--1 {
        img {
            right: 0;
            bottom: -10rem;
        }

        .typography__hr {
            bottom: -2rem;
            right: 14rem;
        }

        .heading__primary {
            padding-right: 15rem;
        }
    }
}